
				
mixin header
	row.collapsed
		columns(small="12")
			h1.text-center Email Header

mixin footer
	row.collapsed.body-footer
		columns(small="12")
			p Footer


mixin block-image-card(title,url,img)
	div.image-card&attributes(attributes)
		img(src=img, alt=title)
		a(href=url)=title
		p 
			block
		div.image-card-footer
			button.tiny.more-link(href=url) Ver más

mixin block-article(title,url,img)
	row.collapsed
		columns(small="3")
			img(src=img, alt=title)
		columns(small="9")
			p
				block
			button.tiny(href=url) Ver más
